.ship-btn-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.ship-btn-container .btn-sm {
    text-wrap: nowrap;
}

.pod-img {
    width: 100%;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.pod-img img {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid green;
    border-radius: 4px; 
    transition: .5s all;
    cursor: pointer;
}

.pod-img img:hover{
    box-shadow: 2px 2px 5px gray;
    transition: .5s all;
}

.print-container
{
    padding: 20px;
    font-size: 11px;
}
.print-container table{
    /* border: 1px solid; */
}
.print-container table tr{
line-height: 6px;
}
.print-container table tr td{
    border: 1px solid;
    padding: 0 4px;
}
.print-container table tr td.v-bar{
    height: 400px;
    width: 10%;
}
.pod-remark{
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-top: 10px;
    text-transform: capitalize;
    color: gray;
}
.pod-container{
    display: flex;
    margin: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.pod-container div{
    margin-right: 10px;
}
.pod-container div img
{
    transition: .5s all linear;
}
.pod-container div img:hover{
    border-color: orange;
    background-color: orange;    
    transition: .5s all linear;
}
.pod-container div img.active{
    border-color: rgb(73, 182, 254);
    background-color: rgb(73, 182, 254); 
    transition: .5s all linear;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-o5vb{border-color:#fe0000;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}