.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.page-item.active .page-link {
  background-color: #246081 !important;
  color:white !important;
 }
 
 .btn-primary {
   background-color: #246081 !important;
   border-color: #246081 !important;
   color: white;
 }
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-sm{
  font-size: .675rem !important;
}
.card-header-text{
  font-size: .875rem !important;
}
.table-sm thead tr th{
  font-size: .675rem !important;
  text-wrap: nowrap;
}

.table-scroller
{
  overflow: auto;
}
