.user-profile img
{
    border-radius: 50%;
    border: 2px solid #27a8e8;
    width: 150px;
    height: 150px;
   
}
.user-profile
{
    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: -75px;
}

.user-profile:hover {
    background-color: #2980b9;
}

.user-profile i {
    font-size: 24px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    transition: .5s all;
}

.user-profile i:hover {
    color: red;
    transition: .5s all;
}

.user-profile:hover i {
    opacity: 1;
}